body {
    background-image: url(../images/12.jp);
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.panel{
text-align: center;
color: black;
font-size: 36px;
}
.image{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.txt{
color: grey;
font-size: 26px;
flex: 1;
}

.img{
    flex:4 ;
}


h1{
    font-size: 26px;
    text-align: center;
    color:rgb(172, 87, 87);
}
.container
{
    margin: 15px;
    /* width: 300px; */
    /* border: 2px solid black; */
    /* border-radius: 2px; */
    /* background-color: rgb(145, 142, 135); */
}
p{
    color:black;
    font-size: 1em;
}
form{
   padding: 15px;
    width: 900px;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(221, 215, 208);

}

legend{
    color:red;
    font-size: 20px;
}

div> h2{
    color:black;
   
}
